import pytest
{% for group in suite.groups %}
{% for test in group.tests %}

@pytest.mark.group_{{ group.name | convert_case('Snake') }}
def test_{{ test.name | convert_case('Snake') }}():
    """{{ test.desc }}"""
    raise Exception("TEST NOT IMPLEMENTED")
{% endfor %}
{% endfor %}